uContainer{
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-logout{
    color:white;
    background-color: transparent;
}

.btn-logout:hover{
    color:white;
    background-color: transparent;
}

